@media (min-width:769px) {
.pc-none {display:none;}
}
@media (max-width:768px) {
.sp-none{display:none;}
.sp-img img{width:96%; margin-left:2%;}
.sp-align{text-align:center;}
li{list-style:none;}

a:link, a:visited {
	color:#333333;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
	color:#333333;
}


#header{
	width:100%;
	background-color:#49BCE4;
}

.header-in{
	width:100%;
	overflow:hidden;
	margin:auto;
	position:relative;
}
.logo{
	margin-right:10px;
	float:left;
	width:30%;
}

.logo img{
	width:100%;
}
.txt-header01{
	font-size:10px;
	color:#fff;	
}
.btn-header01{
	margin-right:2%;
	text-align:right;
}

/* メインカラムはここから */
.primary{
	overflow:hidden;
	width:100%;
	margin:auto;
}
.primary02{
	overflow:hidden;
	width:100%;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
}

/* フッター */

footer{
	width:100%;
}

.footer-in{
	position:relative;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:30px;
	width:96%;
}

.txt-footer01{
	font-size:16px;
	text-align:center;
	color:#000;
}

.link-footer {
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	width:300px;
}

.link-footer li{
	font-size:12px;
	color:#000;
	text-decoration:underline;
}
.link-footer li:first-child{
	float:left;
	margin-right:20px;
}

#▼特定商取引法に基づく表記ページ{}

.tokusyou-content{
	overflow:hidden;
}
.tokusyou-content h1{
	margin-bottom:20px;
	text-align:center;
	line-height:1.2;
	font-size:22px;
	font-weight:bold;
}
.tokusyou-content dl{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:50px;
	overflow:hidden;
	width:96%;
	font-size:14px;
}
.tokusyou-content dt{
	float:none;
	margin-right:0px;
	padding-top:10px;
	padding-bottom:0;
	width:100%;
	border-top:dotted 1px #ccc;
	font-weight:bold;
}
.tokusyou-content dd{
	border-top:none;
	padding-left:0;
	padding-top:0;
	padding-bottom:10px;
}
#▼オンライン家庭教師　東大ゼミ{}
/* 共通 */
.align-c{text-align:center;}
.w-800{
	width:96%;
	overflow:hidden;
	margin:auto;
}
.w-sp-100 img{width:100%;}
.w-sp-96 img{width:96%;}
.w-sp-80 img{width:80%;}
.app-flow{
	overflow:hidden;
	margin-bottom:4%;
}
/* お申し込み内容 */
.app-txt{
	font-size:14px;
	line-height:140%;
	margin-bottom:2%;
}
.app-tit{
	color:#FFF;
	font-weight:bold;
	background-color:#49BCE4;
	line-height:140%;
	padding:1% 2%;
	margin-bottom:2%;
	font-size:18px;
}
.app-check{
	border-collapse:collapse;
	width:100%;
	margin-bottom:50px;
}
.app-check thead th{
	border:solid 1px #CCC;
	background-color:#EEE;
	font-weight:normal;
	text-align:center;
	font-size:16px;
	padding:10px;
	vertical-align:top;
}
.app-check tbody th{
	border:solid 1px #CCC;
	font-weight:normal;
	text-align:left;
	font-size:16px;
	padding:10px;
	vertical-align:top;
}
.app-check tbody td{
	border:solid 1px #CCC;
	font-weight:normal;
	text-align:right;
	font-size:16px;
	padding:10px;
	vertical-align:top;
}
.app-txt-b{
	border:solid 1px #CCC;
	text-align:center;
	font-size:18px;
	padding:160px 0;
	margin-bottom:30px;
}
.app-monita{
	width:100%;
	background-color:#FFCC00;
	text-align:center;
	padding:5px 0 0 0;
	margin-bottom:4%;
}
.app-monita img{width:98%;}
/* 定期テストコース */
.app-course01{
	overflow:hidden;
	background-color:#E5407B;
	padding:2%;
	width:96%;
	margin:auto auto 4% auto;
	border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */  
}
.app-course-detail{
	overflow:hidden;
	background-color:#FFF;
	padding:1%;
	margin-top:2%;
}
.app-course-detail ul li{
	margin-bottom:2%;
	text-align:center;
}
.app-course-price{
	margin-bottom:0!important;
	margin-top:5px;
}
/* 受験対策コース */
.app-course02{
	overflow:hidden;
	background-color:#F5661A;
	padding:2%;
	width:96%;
	margin:auto auto 4% auto;
	border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   /* Firefox用 */  
}
#▼お申込完了{}
.com-tit{
	font-size:24px;
	color:#49BCE4;
	text-align:center;
	margin-bottom:10px;
}
.com-txt01{
	font-size:14px;
	text-align:center;
	margin-bottom:2%;
}
.com-txt02{
	color:#FFFF00;
	background-color:#49BCE4;
	text-align:center;
	font-size:20px;
	line-height:140%;
	padding:10px 0;
}
.com-mail{
	overflow:hidden;
	background-color:#EEE;
	margin-bottom:4%;
}
.com-mail li{
	text-align:center;
	font-size:14px;
	line-height:140%;
}
.com-mail li:nth-child(2){
	font-size:20px;
	color:#49BCE4;
	line-height:100%;
}
.social-btn{
	overflow:hidden;
	width:100%;
}
.social-btn li{
	float:left;
	margin-left:2%!important;
}
.social-btn li:first-child{margin-left:0;}
.social-btn02{
	overflow:hidden;
	width:100%;
}
.social-btn02 li{
	float:left;
	margin-left:2%!important;
}
.social-btn02 li:first-child{margin-left:0;}
.social-url{
	width:94%;
	border:solid 1px #CCC;
	padding:2%;
	margin-bottom:30px;
}

}

